/*-- Colors -- */
/*-- Typeography --*/
    /*-- Fonts --*/
    $font-family: 'Helvetica Neue', sans-serif;
    /*-- Sizing --*/
    $lg-font-size: 40px;
/*-- Animation --*/
$easeInTransition: ease-in 0.3s;